[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
pandas = "*"
django-environ = "*"
django = "==2.2"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
